/temp
/weights.py

data/*.xlsx
data/*.docx
data/*.pkl
data/stops.csv

data/snapshots/
data/snapshots copy/
data/live_state.json

data/abandoned.json
data/analytics.json

__pycache__/
*.pyc

.DS_Store
Thumbs.db
.vscode/
